*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background-color: rgb(249, 249, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.heading span {
  color: crimson;
  font-size: 0.8rem;
  font-weight: 600;
}

.heading h1 {
  color: rgb(0, 0, 0, 0.8);
  font-size: 2.2rem;
}

.row {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.col {
  width: 350px;
  margin: 30px 20px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s all ease-in-out;
}

.col:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 10px 10px rgba(0, 0, 0, 0.23);
  transform: translate(0px, 8px);
}

.col .imgContainer {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer img {
  height: 120px;
}

.col .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.col .title h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.col .title p {
  color: crimson;
  font-weight: 800;
  font-size: 0.9rem;
}

.para {
  width: 80%;
  display: flex;
  padding: 5px 20px;
  color: rgba(0, 0, 0, 0.67);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  margin: 5px 0 20px;
}

.footer .star-container ul {
  list-style: none;
  display: flex;
}

.footer .star-container ul li {
  margin: 0 2.5px;
  color: #ccc;
}

.footer .star-container .checked {
  color: crimson;
}

button {
  background-color: rgba(0, 0, 0, 0.8);
  outline: none;
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 15px 25px;
  transition: 0.3s all ease-in;
}

button:hover {
  background-color: crimson;
  border: 1px solid #ccc;
  border-radius: 10px;
}

@media (max-width: 1560px) {
  .row {
    width: 70%;
  }
}

@media (max-width: 1120px) {
  .row {
    width: 100%;
  }
}
